html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 35.5%;
    background-color: rgb(64 72 131);
    padding: 10px 5px 0px;
}
ul {
    list-style: none;
}
ul li {
    border-left: 5px solid #ffffff;
    padding: 5px;
    margin: 5px 0 5px 0;
}
ul li:hover {
    background-color: antiquewhite;
}
ul li a {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fdfdfd;
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
}
ul li a:hover {
    color: black;
}
.header {
    background-color: rgb(5, 108, 108);
    min-height: 150px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: rgb(64 72 131);
    min-height: 150px;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
blockquote {
    font-size: 22px;  
}
.footer p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}